@import url('https://fonts.googleapis.com/css?family=Abel|Merriweather&display=swap');
header {
    background-color: #FFED74
    border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #FFC675
    border: 1px black solid;
    padding: 20px;
}
body {
	text-align: center;
	background: url("../images/background.jpg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica
	font-size: 16px;
}

h1 {
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	border: 1em 1em 1em 1em;
	border-color: black;
}
h2{
	font-size: 28px;
	font-family: 'Abel', sans-serif; 
}
hr {
	width: 200px;
}

a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-family: 'Abel', sans-serif;
}

h3 {
	font-family: 'Abel', sans-serif; 
}

#works {
	font-style: italic;
	font-family: 'Abel', sans-serif; 
	font-size: 1em;
	display: inline-block;
	border-color: #ffffff;
	border: 1em 1em 1em 1em;
	padding: 3em 3em 3em 3em;
	list-style: none;
}
