body {
	text-align: center;
	background: url("../images/background.png");
	background-size: cover;
	color: #fff;
	font-family: Helvetica
	}
h1 {
	font-size: 55px;
	font-style: italic;
	font-weight: bold;
}
h2{
	font-size: 22px;
}
hr {
	width: 200px;
}

a {
	color: rgb(173,91,217);
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
ul {
	font-style: italic;
}

#second {
	font-weight: bold;
}
